/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

/****************/
/* JOUW STYLING */
/****************/

@font-face {
	font-family: 'typorond';
	src: url(./font/typorond.woff) format('woff');
  }
  

h1 {
	font-family: 'typorond';
}
